# Python
__pycache__/
*.py[cod]

# Virtual environments
venv/
.venv/

# Build / packaging
build/
dist/
*.egg-info/

# Test / coverage
.pytest_cache/
.coverage
htmlcov/

# IDE
.vscode/
.idea/

# Python tooling
.mypy_cache/
.ruff_cache/

# OS
.DS_Store
Thumbs.db
