[Desktop Entry]
Type=Application
Name=KlamAV-Py
GenericName=Antivirus
Comment=Frontend per ClamAV via clamd
Exec=klamav-py-gui
Icon=emblem-virus
Terminal=false
Categories=System;Security;
StartupNotify=true
Keywords=antivirus;clamav;scanner;
