[Unit]
Description=Esegue klamav-scan.service ogni giorno

[Timer]
OnCalendar=daily
RandomizedDelaySec=30m
Persistent=true

[Install]
WantedBy=timers.target
